services:
  ircd:
    image: inspircd/inspircd-docker:3
    ports:
    - '6667:6667'
    environment:
    - INSP_ENABLE_DNSBL=no

  jaeger:
    image: jaegertracing/jaeger:2.13.0@sha256:d5e5fe1c2b2f663b07c28c6f7cc5a6e61aef076752dab8df8eeb6b0f5494c94b
    ports:
    - '6831:6831/udp'
    - '6832:6832/udp'
    - '4317:4317'
    - '4318:4318'
    - '16686:16686'
    - '14268:14268'
    command:
    - --set
    - receivers.otlp.protocols.http.endpoint=0.0.0.0:4318
    - --set
    - receivers.otlp.protocols.grpc.endpoint=0.0.0.0:4317

  postgres:
    image: 'postgres:18'
    ports:
    - '5432:5432'
    restart: always
    environment:
    - POSTGRES_USER=user
    - POSTGRES_PASSWORD=changeme
    - POSTGRES_DB=zeta_development
    - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
    - postgres_data:/var/lib/postgresql


volumes:
  postgres_data:
