on:
  workflow_call:
    inputs:
      images:
        required: true
        type: string
      labels:
        required: false
        type: string
      tags:
        required: false
        type: string
      registry:
        default: ghcr.io
        type: string
      username:
        required: false
        type: string
      push:
        default: false
        type: boolean
      cache-from:
        required: false
        type: string
      cache-to:
        required: false
        type: string
    secrets:
      password:
        required: true
        description: "Password for authentication with the container registry"

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
      with:
        images: ${{ inputs.images }}
        labels: ${{ inputs.labels }}
        tags: ${{ inputs.tags }}
    - name: Login to Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      if: inputs.push
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.username || github.actor }}
        password: ${{ secrets.password || secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
      with:
        push: ${{ inputs.push }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: ${{ inputs.cache-from }}
        cache-to: ${{ inputs.cache-to }}
