on:
  workflow_call:
    inputs:
      images:
        required: true
        type: string
      labels:
        required: false
        type: string
      tags:
        required: false
        type: string
      registry:
        default: ghcr.io
        type: string
      username:
        required: false
        type: string
      push:
        default: false
        type: boolean
      cache-from:
        required: false
        type: string
      cache-to:
        required: false
        type: string
    secrets:
      password:
        required: true
        description: "Password for authentication with the container registry"

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
      with:
        images: ${{ inputs.images }}
        labels: ${{ inputs.labels }}
        tags: ${{ inputs.tags }}
    - name: Login to Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
      if: inputs.push
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.username || github.actor }}
        password: ${{ secrets.password || secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
      with:
        push: ${{ inputs.push }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: ${{ inputs.cache-from }}
        cache-to: ${{ inputs.cache-to }}
