name: Continuous Integration

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, nightly]
    steps:
    - name: Checkout source
      uses: actions/checkout@v6
    - name: Install Rust ${{ matrix.rust }}
      uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 # master
      with:
        toolchain: ${{ matrix.rust }}
        components: clippy
    - name: Enable type layout randomization
      run: echo "RUSTFLAGS=${RUSTFLAGS} -Zrandomize-layout" >> "${GITHUB_ENV}"
      if: matrix.rust == 'nightly'
    - name: Cache 
      uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
    - name: Run Clippy check
      uses: clechasseur/rs-clippy-check@286fd9545eb133adad54b4af34bcb642e266ddd1 # v5.0.2
      with:
        args: --no-deps --all-features
    - name: Run tests
      run: cargo test

  container_image:
    name: Container Image
    needs:
    - test
    uses: ./.github/workflows/container-image.yaml
    with:
      images: ghcr.io/${{ github.repository }}
      push: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
      cache-from: type=gha
      cache-to: type=gha,mode=max
    secrets:
      password: ${{ secrets.GITHUB_TOKEN }}
